@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

:root {
    --primary-color: #284fa5;
    --solid-gold: #d68e08;
    --off-white: #f6f8fa;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 900px;
    margin: auto;
}

p {
    padding-bottom: 0.5rem;
}

hr {
    margin-top: 2rem;
    max-width: 300px;
    height: 1px;
    background-color: var(--off-white);
    border: none;
}


/* spaces */

.margin-md {
    margin-top: 2rem;
}


/* container */

.container {
    padding: 0rem 1rem;
}

.container h1 {
    text-align: left;
}

.container-center {
    max-width: 650px;
    margin: auto;
}


/* links */

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    margin-right: 0.5rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.2rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.2rem;
    border: 1px solid var(--primary-color);
}


/* lists */

ul {
    padding-inline-start: 1rem;
}

.list-non-bullet {
    list-style: none;
}



.list-item-inline {
    display: inline;
}


/* navigation */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;

}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}


/* header */

.hero {
    padding: 2rem;
    padding-top: 3rem;
}

.hero .hero-img {
    max-width: 320px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--solid-gold);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color)
}


/* section */

.section {
    padding: 2rem 1rem 2rem 1rem;

}

.section h1 {
    text-align: left;
}

.ow {
    background-color: var(--off-white);
}

/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 1.5rem 1rem 1rem 1rem ;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .footer-header {
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: large;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}



/***** Added for blogs *****/

/* blogs */

.blog-img {
    padding: 1rem;
    height: 20vh;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-img img {
    height: 100%;
}

.blog {
    /* font-family: 'Roboto', sans-serif; */
    font-size: large;
    padding: 1rem;
    display: block;
    margin: auto;
}

.blog p {
    /* padding-top: 0.25rem; */
    /* padding-left: 0.25rem; */
    padding: 0 0.25rem;
}

.blog h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}